.form {
    width: 300px;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background: #fff6db;
}

.msg {
    width: 280px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    background: #ffc183;
}

.nav {
    float: right;
    list-style-type: none;
}
.nav li {
    display: inline;
}

.frame {
    text-align: start;

    margin: 2em auto;
    width: 50em;
    padding: 0.8em;
    background: white;
}

.flash {
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #4B0082;
}

.search {
    text-align: left;
    font-size: 0.8em;
    padding: 0.3em;
    margin-bottom: 1em;
    background: #eee; }

/*.add-entry {}*/

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}
.entries li {
    margin: 0.8em 1.2em;
}
.entries li h2 {
    margin-left: -0.6em;
}