.form {
    text-align: center;
    width: 300px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    background: #fff6db;
}

.msg {
    width: 280px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    background: #ffc183;
}

.nav {
    float: right;
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
}
.nav li {
    display: inline;
}

.frame {
    text-align: start;
    font-size: 1.2em;
    width: 70%;
    margin: 2em auto;
    padding: 0.8em;
    background: white;
}

.flash {
    padding: 0.5em;
    background: #cee5F5;
    border: 1px solid #4B0082;
}

.search {
    text-align: left;
    /*font-size: 0.8em;*/
    padding: 10px;
    margin-bottom: 10px;
    background: #eee;
}

/*.add-entry {}*/

.entries {
    list-style: none;
    margin: 0;
    padding: 0;
}
.entries li {
    margin: 0.8em 1.2em;
}
.entries li h2 {
    margin-left: -0.6em;
}

.rating-area {
    overflow: hidden;
    width: 265px;
    margin: 0;
    float: right;
}
.rating-area:not(:checked) > input {
    display: none;
}
.rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
    content: '★';
}
.rating-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
    position: relative;
}
