{% extends "base.html" %}

{% block title %}
    Загрузка приложения
{% endblock %}

{% block content %}
    <h2>Загрузка приложения</h2><br>

    <form action="{{ url_for('add_entry') }}" method=post class=add-entry id="add-entry" enctype=multipart/form-data>
        <div>
            <p><input type="text" name="title" size=52 placeholder="Название" maxlength="80"></p>
            <p><textarea name="text" rows=6 cols=50 placeholder="Описание" maxlength="255"></textarea></p>
            <p><input type="file" name="file"></p>
            <p><input type="submit" name="action" value="Отправить"></p>
        </div>
    </form>
{% endblock %}
