<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.validate.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='flash-script.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='form-validation.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='search-script.js') }}"></script>

    <title>{% block title %} Магазин {% endblock title %} – APK store</title>
</head>

<body>

<header>
    <a href="{{ url_for('show_entries') }}" style="text-decoration: none; vertical-align: middle;">
        <img src="{{ url_for('static', filename='icon.png') }}" width="64" height="64" alt="Home">
    </a>
    <span style="vertical-align: middle; font-size: 220%; font-family: 'Comfortaa', cursive;">
        Магазин приложений
    </span>
</header>

{% block body -%}
    <ul class="nav" id="nav">
        {% block navbar %}
            {% if email %}
                <li><a class="nav" href="{{ url_for_security('logout') }}">Выход</a></li>
                <li><a class="nav" href="{{ url_for('home') }}"><i>{{ email }}</i></a></li>
            {% else %}
                <li><a class="nav" href="{{ url_for_security('login') }}">Вход</a></li>
                <li><a class="nav" href="{{ url_for_security('register') }}">Регистрация</a></li>
            {% endif %}
            <p></p>
        {%- endblock navbar %}
    </ul>

    <div class=frame>
        {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
        {% endfor %}

        {% block content -%}
        {%- endblock content %}
    </div>

    {% block scripts %}
    {%- endblock scripts %}
{%- endblock body %}

</body>

</html>
